extends layout

block content
  h1 List of LETSGO users
  p Welcome to the LETSGO user list. Here you can see all the users that have signed up for the LETSGO service.

  h2 Users
  ul#users
    each user in users
      li.user= user.name
